html {
    height: 100%;
}
body {
    font-family: spotify-circular,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    background-color: #1c2953;
    overflow: hidden;
    overflow-y: auto;
    background-image: linear-gradient(rgb(64, 89, 89), rgb(6, 9, 9) 85%);
    margin: 0;
}
header {
    background-color: lightgray;
    margin-bottom: 50px;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    clear: both;
}
aside {
    width: 15%;
    clear: both;
    float: left;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    position: fixed;
}
article {
    clear: both;
    width: 100%;
    display: inline-block;
}
footer {
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    clear: both;
    background-color: #1a53ff;

}

a {
    text-decoration: none;
    color: white;
}

.tablink {
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    margin-top: 20px;
}
.imgIcon {
    float: left;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}
.GridView {
    float: left;
    margin-left: 10px;
}
.articleDiv {
    align-content: center;
}
.pageTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}

#imgLogo {
    float: left;
    vertical-align: central;
    cursor: pointer;
}
#title {
    float: left;
    vertical-align: central;
    margin-left: 10px;
}
#playButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#tabs {
    list-style-type: none;
}
#divAlbum {
    color: white;
}
#tabSearch {
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.SearchContainer {
    margin-left: 15%;
    margin-top: 10px;
}


/* Artist Page*/
#MainContent_imgArtistPicture {
    position: absolute;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    padding-left: 220px;
    margin-left: -220px;
    margin-top: -25%;
    width: 100%;
    z-index: -1;
}

#MainContent_lblArtistName {
    font-size: 72px;
    line-height: 82px;
    letter-spacing: -.005em;
    font-weight: 600;
    color: #fff;
    text-transform: none;
    margin: 0 auto;
    max-width: 70%;
    display: block;
    text-align: center;
    position: relative;
}

#MainContent_lblArtistListener {
    font-size: 11px;
    line-height: 16px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .16em;
    padding-top: 100px;
    color: hsla(0,0%,100%,.6);
    display: block;
    text-align: center;
    margin-bottom: 1em;
}


.backgroundContainer {
    background: linear-gradient(transparent, #181818);
    width: 100%;
    height: 350px;
}

.ContentCntainer {
    background: #181818;
    width: 100%;
    height: 900px;
}

    .ContentCntainer h3 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -.005em;
        font-weight: 600;
        color: #fff;
        text-transform: none;
        margin: 24px 0;
        text-align: center;
    }

.tab {
    text-align: center;
}

.tablinks {
    color: hsla(0,0%,100%,.6);
    background-color: transparent;
    letter-spacing: .15em;
    margin: 2%;
    padding: 0;
    border: none;
    border-bottom: solid;
    border-bottom-color: #1ed760;
    font-size: inherit;
    font-size: 90%;
    vertical-align: baseline;
}