html {
    height: 100%;
}

body {
    font-family: spotify-circular,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    background-color: #1c2953;
    overflow: hidden;
    overflow-y: auto;
    background-image: linear-gradient(rgb(64, 89, 89), rgb(6, 9, 9) 85%);
    margin: 0;
}

header {
    background-color: lightgray;
    margin-bottom: 50px;
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    clear: both;
}

aside {
    width: 15%;
    clear: both;
    float: left;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    position: fixed;
}

article {
    clear: both;
    width: 100%;
    display: inline-block;
}

footer {
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    clear: both;
    background-color: #1a53ff;
}

a {
    text-decoration: none;
    color: white;
}

.tablink {
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.tablink a {
    margin-left: 5%;
}

.imgIcon {
    float: left;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.GridView {
    float: left;
    margin-left: 10px;
}

.articleDiv {
    align-content: center;
    width: 100%;
}

.pageTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}

#imgLogo {
    float: left;
    cursor: pointer;
}

#title {
    float: left;
    position: absolute;
    margin-left: 60px;
    margin-top: 3px;
    font-size: 30px;
    font-style: italic;
    color: #1ed760;
}

#playButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#tabs {
    list-style-type: none;
    margin-left: -10%;
}

#divAlbum {
    color: white;
}

#tabSearch {
    position: relative;
    width: 74%;
}

#tabSearch input {
    margin-top: 40px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 17px;
    margin-bottom: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}


.SearchContainer {
    margin-left: 15%;
    margin-top: 10px;
}

/* Artist Page*/
#MainContent_imgArtistPicture {
    position: absolute;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    padding-left: 220px;
    margin-left: -220px;
    margin-top: -25%;
    width: 100%;
    z-index: -1;
}

#MainContent_lblArtistName {
    font-size: 72px;
    line-height: 82px;
    letter-spacing: -.005em;
    font-weight: 600;
    color: #fff;
    text-transform: none;
    margin: 0 auto;
    max-width: 70%;
    display: block;
    text-align: center;
    position: relative;
}

#MainContent_lblArtistListener {
    font-size: 11px;
    line-height: 16px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .16em;
    padding-top: 100px;
    color: hsla(0,0%,100%,.6);
    display: block;
    text-align: center;
    margin-bottom: 1em;
}


.backgroundContainer {
    background: linear-gradient(transparent, #181818);
    width: 100%;
    height: 350px;
}

.ContentCntainer {
    background: #181818;
    width: 100%;
    height: 900px;
}

    .ContentCntainer h3 {
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -.005em;
        font-weight: 600;
        color: #fff;
        text-transform: none;
        margin: 24px 0;
        text-align: center;
    }

.tab {
    text-align: center;
}

.tablinks {
    color: hsla(0,0%,100%,.6);
    background-color: transparent;
    letter-spacing: .15em;
    margin: 2%;
    padding: 0;
    border: none;
    border-bottom: solid;
    border-bottom-color: #1ed760;
    font-size: inherit;
    font-size: 90%;
    vertical-align: baseline;
}

/* Album Page */
#divImgAlbum {
    position: relative;
    left: 20%;
    margin-top: 5%;
    float: left;
}
#divListTracks {
    position: relative;
    left: 25%;
    display: inline-block;
    margin-top: 5%;
}
#ulTracks{
    list-style-type: none;
}

.tracklist li{
    padding-bottom: 10px;
}

.tracklist li label {
    margin-left: 60px;
    color: white;
    display: block;
    font-size: 20px;
}
.pName{
    position: relative;
    text-align: left;
    display: inline-block;
    vertical-align:top;
}
.pDuration {
    position: relative;
    text-align: right;
    display: inline-block;
    vertical-align:top;
    
}
.liAlbum {
    list-style-type: none;
}
.divTracks {
    width: 100%;
    transition: background-color 1s ease;
}
.divTracks:hover {
    background-color: gray;
    
}
.tracklist-container {
    width: 800px;
}
