body {
    font-family: spotify-circular,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    background-color: #1c2953;
    overflow: hidden;
    overflow-y: auto;
}
header {
    background-color: lightgray;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 25px;
    width: 100%;
    clear: both;
}
aside {
    margin-top: 25px;
    margin-bottom: 50px;
    width: 20%;
    clear: both;
    float: left;
    background-color: #162042;
}
article {
    clear: both;
    width: 80%;
    display: inline-block;
}
footer {
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    clear: both;
    background-color: #1a53ff;

}

a {
    text-decoration: none;
    color: white;
}

.tablink {
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    margin-top: 20px;
}
.imgIcon {
    float: left;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}
.GridView {
    float: left;
    margin-left: 10px;
}
.articleDiv {
    align-content: center;
}
.pageTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}

#imgLogo {
    float: left;
    vertical-align: central;
    cursor: pointer;
}
#title {
    float: left;
    vertical-align: central;
    margin-left: 10px;
}
#playButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
#tabs {
    list-style-type: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}